<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener Application</title>

</head>
<body>
<h1>URL Shortener</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="POST" action="{{url_for('index')}}">
    <input type="text" name="long_url" placeholder="Enter a long url">
    <button type="submit">shorten</button>
</form>
</body>
</html>